Options -Indexes
# DirectorySlash has to be off to prevent a redirect, which will delete all POST variables...
DirectorySlash Off

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule token/?$ /token.php [L,QSA]
  RewriteCond %{HTTP:Authorization} ^(.*)
  RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
</IfModule>
