Options -Indexes
# DirectorySlash has to be off to prevent a redirect, which will delete all POST variables...
DirectorySlash Off

RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteRule token/?$ /token.php [L,QSA,NC]
RewriteRule introspect/?$ /introspect.php [L,QSA,NC]
